<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['home']">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['test']" *ngIf="isActive">Test</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['search']" *ngIf="isActive">Search</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['record']" *ngIf="isActive">Record</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['question-new']" *ngIf="isActive">Question New</a>
            </li> -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['about']">About</a>
            </li>


        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div *ngIf="authService.currentUser | async as user; else showLogin">
            <button data-toggle="collapse" data-target=".navbar-collapse.show" class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()"><img class="rounded-circle" [src]=[user.photoURL] width="30px"> {{user.displayName}}
                (Salir)</button>
        </div>
        <ng-template #showLogin class="text-center">
            <button data-toggle="collapse" data-target=".navbar-collapse.show" class="btn btn-outline-primary my-2 my-sm-0" (click)="loginWithGoogle()">Ingresar</button>
        </ng-template>
    </div>
</nav>