<div class="row">
    <div class="col">
        <h3 class="text-center">Test</h3>
    </div>
</div>

<!-- <div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="obtenerQuestion()">Comenzar</button>
    </div>
</div> -->

<div class="row">
    <div class="col">
        <h4 class="text-center">{{question.question}}</h4>
    </div>
</div>

<br>
<div class="row h-100">
    <div class="col w-100">
        <div class="card card-deck w-100 h-100" (click)="obtenerQuestion()">
            <div class="card-body">
                <img class="img-fluid" src={{answer1}} alt="">
                <!-- <a href="#" class="btn btn-primary">Button</a> -->
            </div>
        </div>
    </div>
    <div class="col w-100">
        <div class="card card-deck w-100 h-100" (click)="obtenerQuestion()">
            <div class="card-body">
                <img class="img-fluid" src={{answer2}} alt="">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row h-100">
    <div class="col w-100">
        <div class="card card-deck w-100 h-100" (click)="obtenerQuestion()">
            <div class="card-body">
                <img class="img-fluid" src={{answer3}} alt="">
                <!-- <a href="#" class="btn btn-primary">Button</a> -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-deck w-100 h-100" (click)="obtenerQuestion()">
            <div class="card-body">
                <img class="img-fluid" src={{answer4}} alt="">
            </div>
        </div>
    </div>
</div>