<div class="card">
    <img src={{user.photoURL}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{user.displayName}}</h5>
        <p class="card-text"><strong>e-mail:</strong> {{user.email}}</p>
        <p class="card-text"><strong>edad:</strong> 28 años</p>
        <p class="card-text"><strong>Sitación Actual:</strong></p>
        <img class="img-fluid" src="assets/images/corona.jpg" alt="">
        <br>
        <p class="card-text"><strong>¿Cuáles son los síntomas del coronavirus COVID–19 y cuándo estar alertas?</strong></p>
        <ul>
            <li>
                Los síntomas más comunes son fiebre, tos, dolor de garganta y cansancio.
            </li>
            <li>
                Algunos casos pueden presentar complicaciones y requerir hospitalización.
            </li>
            <li>
                Puede afectar a cualquier persona, el riesgo de complicaciones aumenta en mayores de 60 años y personas con afecciones preexistentes (enfermedad cardiovascular, diabetes y enfermedad respiratoria crónica entre otras).
            </li>
            <li>
                En caso de presentar síntomas, aunque sean leves, consultar telefónicamente al sistema de salud. Ejemplo: 107 en CABA, 148 en Provincia de Buenos Aires, 120 a nivel nacional.

            </li>
        </ul>
    </div>
</div>